body{
    background-color:#1F201F;
    color: #EDEAE2;
    font-family: "Helvetica", "Segoe UI", "Arial", sans-serif;
    height: 100%;
    margin: 0;
}

.profile img{
    width: 90%;
    border: 5px solid black;
    float: left;
}

#content a{
    text-decoration: none;
    color: #E86F68;
}

h1, h2, h3{
    margin: 0;
}

.icon img{
    padding: 2.5%;
    width: 13%;
    border-radius: 50%;
    float: left;
}

#links a:hover{
    transition: 1s;
    color: #EDEAE2;
}

#pages a:hover{
    transition: 1s;
    color: #E86F68;
}

.text a{
    text-decoration: none;
    color: #EDEAE2;
}

.name{
    color: #E86F68;
}

#main{
    padding-bottom: 0px;
}

#container{
    height: 100%;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
}

#header{
    width: 65%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 10px;
    vertical-align: middle;
    color: #EDEAE2;
    
}

#content{
    width: 65%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 10px;
    vertical-align: middle;
}

#footer{
    width: 65%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 10px 10px 100px 10px;
    vertical-align: middle;
    color: #EDEAE2;
}

#pages{
    font-size: 75%;
    width: 65%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 10% 10px 50px 10px;
    vertical-align: middle;
    color: #EDEAE2;
}

#links{
    display: inline-block;
    margin: 0;
    padding: 5% 0% 3% 0%;
}

#skills ul{
    list-style-type: square;
    margin-left: 15pt;
    padding-left: 0;
    text-indent: 0;
}